<img src="/assets/img/burger.png" alt="burger" class="center">
<h1>Devour it Burgers</h1>
<h2>Add Burgers!</h2>
<form class="create-form">
    <div class="from-group">
        <label for="burger">Burger Type:</label>
        <input type="text" id="burg" name="burgerType">
    </div>
    <button type="submit">Add a burger</button>
</form>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burgerType}}
        <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}DEVOURED!{{else}}DEVOURED!{{/if}}
        </button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are devoured -</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burgerType}}
        <button class="delete-burger" data-id="{{this.id}}">Delete!</button>
    </li>
    {{/if}}
    {{/each}}
</ul>